
<!-- <app-father></app-father> -->

<div class="container-fluid">
  <app-menu></app-menu>
</div>
<div class="container">
  <app-header></app-header>
  <!-- <app-catalogue></app-catalogue> -->
  <!-- <app-random-users-page></app-random-users-page> -->
  <!--<app-hero-template-page></app-hero-template-page> -->
  <!-- <app-hero-reactive-template-page></app-hero-reactive-template-page> -->
</div>

<div class="container-fluid">
  <app-footer></app-footer>
</div>

<!-- <app-my-async-pipe></app-my-async-pipe> -->


<router-outlet></router-outlet>
